@import 'normalize.scss';

// mixins
@mixin font-main {
    font-family: 'Lato', sans-serif;
}

@mixin font-secondary {
    font-family: 'Montserrat', sans-serif;
}
// === / mixins ===

// === variables ===
$color-white: #fff;
$color-body: #414141;
// / === variables ===

// === common ===
* {
    box-sizing: border-box;
}

body {
    @include font-main;

    color: $color-body;
}
// === / common ===

.section-inner {
    width: 1180px;
    margin: auto;
}

.description-item {
    &__icon {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 14px;
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
    }

    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        color: #6c6c6c;
    }
}

@mixin start-button {
    @include font-secondary;

    display: inline-block;
    padding: 16px 20px;
    margin: 0;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}

.btn-main {
    @include start-button;

    color: $color-white;
    background: linear-gradient(to right, #fe985b, #fe4fa7);
    border: none;

    &:hover {
        background: linear-gradient(to right, #fe4fa7, #fe985b);
    }
}

.btn-secondary {
    @include start-button;

    color: $color-body;
    background: $color-white;
    border: 1px solid $color-body;
    transition: .4s;

    &:hover {
        color: #fe50a6;
        border-color: #fe50a6;
    }
}

.btn-white {
    @include start-button;

    color: $color-body;
    background: $color-white;
    border: none;
}

// ==header==

.section-header {
    position: relative;
    color: $color-white;
    background: url('../assets/bg-header.png') no-repeat 50% 50%;
    background-size: cover;
    // border: 1px solid red;

    .section-inner {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        height: 100vh;
        // border: 1px solid red;
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        content: '';
        background-color: rgba(20, 39, 41, .6);
    }

    &-logo {
        flex-shrink: 1;
        padding-top: 35px;
        font-size: 24px;
        font-weight: bold;
    }

    &-content {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    &-wrapper {
        margin: 0 auto;

        &__title,
        &__subtitle {
            text-align: center;
        }

        &__title {
            margin-bottom: 16px;
            font-size: 55px;
            font-weight: bold;
            line-height: 60px;
        }

        &__subtitle {
            @include font-secondary;

            width: 60%;
            margin: 0 auto 44px;
            margin-bottom: 34px;
            font-size: 18px;
            line-height: 32px;
        }

        &__form {
            display: flex;

            &-input {
                flex: 1;
                padding-right: 40px;

                input {
                    @include font-secondary;

                    width: 100%;
                    padding: 16px 20px;
                    margin: 0;
                    font-size: 16px;
                    color: $color-white;
                    background: rgba(255, 255, 255, .25);
                    border: none;
                    border-radius: 4px;
                    outline: none;
                    transition: .2s;

                    &::placeholder {
                        color: $color-white;
                    }

                    &:focus {
                        background: rgba(255, 255, 255, .5);
                    }
                }
            }
        }
    }
}

// /==header==

// ==promo==

.section-promo {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-promo-1 {
    display: flex;

    &__content,
    &__video {
        flex-basis: 50%;
    }

    &__content {
        padding-right: 90px;

        .title {
            margin-bottom: 56px;
            font-size: 32px;
            font-weight: bold;
            line-height: 51px;
        }

        .description-item {
            margin-top: 28px;
        }
    }

    &__video {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.section-promo-2 {
    display: flex;
    padding-top: 86px;
    margin-top: 120px;
    text-align: center;
    border-top: 1px solid #e2e2e2;

    .description-item + .description-item {
        margin-left: 40px;
    }
}

// /==promo==

// ==founder==

.section-founder {
    padding-top: 34px;
    background-color: #f6fafd;

    .section-inner {
        display: flex;
    }

    &__img {
        align-self: flex-end;
    }

    &__content {
        align-self: center;
        padding-left: 50px;

        &-text {
            @include font-secondary;

            font-style: 24px;
            line-height: 40px;
        }

        &-name {
            font-style: 24px;
            font-weight: bold;
            line-height: 29px;
        }

        &-post {
            font-style: 20px;
            line-height: 29px;
        }
    }
}

// /==founder==

// ==plans==

.section-plans {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

    &__title {
        font-size: 36px;
        font-weight: bold;
        line-height: 51px;
    }

    &__subtitle {
        width: 50%;
        margin: 0 auto 80px;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
    }

    &__list {
        display: flex;
        justify-content: center;

        &-item {
            flex-basis: 371px;
            padding: 60px 45px;

            &_title {
                margin-bottom: 26px;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
                text-transform: uppercase;
            }

            &_price {
                .prefix {
                    margin-bottom: 26px;
                    font-size: 72px;
                    font-weight: 700;
                    line-height: 86px;
                    color: #fe4fa7;
                }

                .postfix {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 17px;
                }
            }

            &_description {
                margin-bottom: 50px;
                font-size: 12px;
                font-weight: 300;
                line-height: 28px;
            }

            &.active {
                background-color: #f6fafd;
            }
        }
    }
}

// /==plans==

// ==free==

.section-free {
    padding-top: 121px;
    padding-bottom: 120px;
    color: $color-white;
    text-align: center;
    background: linear-gradient(to right, #fe985b, #fe4fa7);

    &__title {
        padding-bottom: 26px;
        font-size: 66px;
        font-weight: 700;
        line-height: 60px;
    }

    &__description {
        @include font-secondary;

        width: 50%;
        margin: 0 auto 40px;
        font-size: 20px;
        line-height: 30px;
    }
}

// /==free==

// ==footer==

.section-footer {
    padding-top: 80px;
    padding-bottom: 80px;

    &__logo {
        padding-bottom: 30px;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
    }

    &__nav {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 0 75px;
        list-style: none;

        li {
            & + li {
                margin-left: 60px;
            }

            a {
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                color: $color-body;
                text-decoration: none;
                text-transform: uppercase;
                transition: .2s;

                &.active,
                &:hover {
                    color: #fe50a6;
                }
            }
        }
    }

    &__copyright_and_links {
        @include font-secondary;

        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto;
        font-size: 14px;
        line-height: 18px;
    }
}

.helper-links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        & + li {
            margin-left: 20px;
        }

        a {
            color: $color-body;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
